<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head>
	<title>${title}</title>
</head>
<body>
	<h1>${title}</h1>
	
	<p>Last played: ${lastplayed} from ${lastip}</p>
	<table border="0">
	<tr>
	<td>
		<xi:include href="channeltable.html" />
	</td>
	<td width="50"></td>
	<td valign="top">
		<xi:include href="monitorpower.html" />
	</td>
	</tr>
	</table>

	<p>
		<xi:include href="filechooser_frame.html" />
	</p>

	<hr />
	<p class="legalese">(c) Fous, 2010</p>
</body>
</html>
